{% extends 'root.html' %}
{% block title %}
    <title>Вход</title>
{% endblock %}
{% block content %}

    <form class="mt-4" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary" type="submit" value="login">
    </form>
    <br>
    <div class="mb-5">
        <p class="">Вы можете <a href="{% url 'myauth:register' %}">Зарегестрироваться</a> 
       или войти через <a href="{% url 'social:begin' 'google-oauth2' %}"><img width="50" src="/media/google.jpg"></a>
    </p>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>
{% endblock %}