{% extends 'root.html' %}
{% block title %}
    <title>Регистрация</title>
{% endblock %}
{% block content %}

    {% if form.errors %}
        <div style="display: table; margin: 0 auto; text-align: left;">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}rdfgfser</strong>
        {% endfor %}
    {% endif %}

<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="register">
</form>
{% endblock %}