{% extends "root.html" %}

{% block title %}
    <title>Введите пароль</title>
{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Установите новый пароль!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>

    {% else %}
        
        <p>Ссылка смены пароля не действительна, возможно она уже использовалась. Начните заново.</p>

    {% endif %}
{% endblock %}