{% extends 'root.html' %}
{% load mptt_tags static  %}
{% block title %}
    <title>Главная</title>
{% endblock %}
{% block content %}
  

{% recursetree categories %}
   
{#    {% for category in categories %}#}
        <div class="card mb-3 ">
            <div class="card-body container row">
                <div class="col-4">
                    {% if node.avatar %}
                        <img class="rounded-circle" width="100" height="100" src="{{ node.avatar.url }} "
                             style="cursor: pointer;  border-radius: 60px;
    box-shadow: 0 0 0 7px #d1d1da;
    object-fit: cover;"/>
                    {% endif %}
                </div>
                <div class="col-8">
                    <h4 class="fw-bolder">
                        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                    </h4>
                    <p>{{ node.description | safe }}
                    </p>

                </div>

                {#                <a href='{{ post.get_absolute_url }}'>show</a>#}
            </div>
        </div>
{#    {% endfor %}#}
<div style="margin-left: 30px">
{% if not node.is_leaf_node %}
        {{ children }}
     {% endif %}
    </div>
{% endrecursetree %}    

{% endblock %}