{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/bootstrap.css' %}"
          rel="stylesheet"
    >
    <link href="{% static 'css/mystyle.css' %}"
          rel="stylesheet"
    >
    <meta charset="UTF-8">
    <meta name="viewport">

    {% block title %}
        <title>default</title>
    {% endblock %}
</head>


<body class="p-3 mb-2">
<div class="container text">
    <div class="row">
        <div class="col-md-8">
            {% include 'menu.html' %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-4 bg-secondary bg-opacity-10" >
            {% block sidebar %}
            {% include 'sidebar.html' %}
            {% endblock %}
        </div>


    </div>
</div>

</body>
</html>