{% extends '../root.html' %}
{% block title %}
    <title>{{ post.title.title }}</title>
{% endblock %}
{% block content %}

    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">By {{ post.author }}</p>
            <p class="card-text">{{ post.body }}</p>
            <a href="{% url 'back_to_posts' %} " class="card-link">back</a>
            {% if user == post.author %}
                <a href={% url 'updatepost' slug=post.slug %} class="card-link">edit</a>
            {% endif %}
        </div>
    
    <p>Тэги:
         {% for tag in post.tags.all %}
                <a href="{% url 'posts_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    
    
    </div>
    <div class="card" style="width: 40rem;">
    
    {% if similar_posts %}
        <h4>Возможно Вам понравятся:</h4>
        {% for similar_post in similar_posts %}
            <p><a href={% url 'showpost' slug=similar_post.slug %}>{{ similar_post.title }}</a></p>
        {% endfor %}    
    {% else %}
        <h4>Похожих постов пока нет</h4>
    {% endif %}
    </div>


    {% with comments.count as total_comments %}
        <h4>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h4>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments.</p>
    {% endfor %}

    {% include "main/comment_form.html" %}
{% endblock %}